body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

p {
  text-align: justify;
}

.AboutUs {
  padding: 60px 60px;
  background-color: #7cc5ba;
}

.AboutUs__info--1 {
  padding: 0;
}

@media screen and (min-width: 800px) {
  .AboutUs__info--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.AboutUs__info--1 > li {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

@media screen and (min-width: 800px) {
  .AboutUs__info--1 > li {
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
  }
}

.AboutUs__info--2 {
  text-align: initial;
  padding: 0 2rem;
}

.AboutUs__info--2 > li {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.Photo {
  border-radius: 50px;
  max-height: 100px;
  max-width: 100px;
}

.icon {
  margin-top: 15px;
  width: 50px;
}
/*# sourceMappingURL=AboutUs.css.map */