body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.info {
  border: 1px solid white;
  background-color: #ddd;
  padding: 15px;
  border-radius: 12px;
  margin-top: 30px;
  margin-left: 29px;
  margin-right: 29px;
  font-weight: bold;
}

.info > p {
  text-align: center;
  padding: 0px;
}

.Calculator {
  background-color: #7cc5ba;
  border-radius: 12px;
  color: white;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

@media screen and (min-width: 800px) {
  .Calculator {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 46px;
    height: 100vh;
    margin-bottom: 46px;
  }
}

.Calculator__fieldset {
  margin: 5px;
  border-radius: 12px;
  border: 1px solid white;
}

.Calculator__fieldset--legend {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
}

.Calculator__label {
  margin: 1.5rem;
}

.Calculator__select {
  color: gray;
  background-color: white;
}

.Calculator__containerBtn {
  margin: 10px;
}

.Calculator__containerBtn > button {
  background-color: black;
  border: none;
  border-radius: 0.2rem;
  width: 100px;
  color: white;
  height: 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=Calculator.css.map */