body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.CardNutritionDetail__back {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.CardNutritionDetail__details {
  margin: 20px;
  border: 1px solid white;
  padding: 20px;
  background-color: #7cc5ba;
  border-radius: 12px;
  color: white;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CardNutritionDetail__details > h3 {
  text-align: center;
}

.CardNutritionDetail__details > img {
  width: 60%;
  border-radius: 50%;
}

@media screen and (min-width: 800px) {
  .CardNutritionDetail__details > img {
    width: 30%;
  }
}
/*# sourceMappingURL=CardNutritionDetail.css.map */