.CardTrain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 12px;
  background-color: #7cc5ba;
}

.CardTrain button {
  padding: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  background-color: black;
  margin: 0;
}

.CardTrain > h3 {
  color: black;
}

.CardTrain > p {
  color: black;
}

.CardTrain--img {
  width: 300px;
  height: 200px;
}
/*# sourceMappingURL=CardTrain.css.map */