body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.CardNutrition {
  margin: 20px;
  border: 1px solid white;
  /*  padding: 20px; */
  background-color: #7cc5ba;
  width: 250px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 12px;
}

.CardNutrition__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 200px;
}

@media screen and (min-width: 800px) {
  .CardNutrition__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-height: 200px;
  }
}

.CardNutrition h3 {
  padding: 20px;
  max-height: 300px;
  min-height: 127px;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .CardNutrition h3 {
    padding: 20px;
    max-height: 300px;
    min-height: 104px;
  }
}

.CardNutrition img {
  border-radius: 12px;
  height: 140px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .CardNutrition img {
    border-radius: 12px;
    height: 140px;
    width: 100%;
  }
}

.CardNutrition__btn {
  border-radius: 12px;
  margin-top: 56px;
  height: 59px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .CardNutrition__btn {
    border-radius: 12px;
    margin-top: 15px;
    height: 59px;
    width: 100%;
  }
}
/*# sourceMappingURL=CardNutrition.css.map */