body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.Home__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .Home__section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 131vh;
  }
}

.Home__section--image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  height: 78vh;
  margin-top: 45px;
  border-radius: 12px;
}

@media screen and (min-width: 800px) {
  .Home__section--image {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.Home__section--image > img {
  width: 90%;
  margin-left: 20px;
}

@media screen and (min-width: 800px) {
  .Home__section--image {
    width: 70%;
    height: 100vh;
  }
}

.Home__section--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Home__section--content > h2 {
  color: black;
}

.Home--btnTrain {
  background-color: black;
  border: none;
  border-radius: 0.2rem;
  width: 100px;
  color: white;
  border: 2px solid white;
}

.Home--btnTrain:hover {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=Home.css.map */