body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #9acbc4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .Login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 87vh;
  }
}

.Login__info {
  border: 1px solid white;
  background-color: #ddd;
  padding: 15px;
  border-radius: 12px;
  margin-top: 30px;
}

.Login__info > p {
  text-align: center;
  padding: 0px;
}

@media screen and (min-width: 800px) {
  .Login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Login__container .form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.Login__container .form input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-transition: border-width 0.2s ease;
  transition: border-width 0.2s ease;
  border-radius: 12px;
  color: #444;
}

.Login__container .form .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.Login__container .gif > img {
  width: 60%;
}
/*# sourceMappingURL=Login.css.map */