body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.custom-button, .Navbar__open-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover, .Navbar__open-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.Navbar {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
}

.Navbar__image {
  width: 150px;
}

@media screen and (min-width: 800px) {
  .Navbar__image {
    width: 150px;
  }
}

.Navbar__menu {
  position: relative;
}

.Navbar__links {
  -webkit-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.548);
          box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.548);
  background: white;
  z-index: 1;
  position: absolute;
  top: 2.75rem;
  right: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .Navbar__links {
    position: fixed;
    top: auto;
    margin-top: 10px;
  }
}

.Navbar__links > li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .Navbar__links > li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media only screen and (min-width: 400px) {
  .Navbar__links > li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.Navbar__link {
  background-color: white;
  padding: 0.5rem;
  color: #7cc5ba;
  width: 126px;
  font-size: 0.75rem;
  cursor: pointer;
  display: block;
}

.Navbar__link:hover {
  background-color: #7cc5ba;
  color: white;
}

.Navbar__link > h3 {
  margin: 0;
}

.Navbar__link > h3 > span {
  padding-right: 0.5rem;
}
/*# sourceMappingURL=Navbar.css.map */