@import "../index.scss";


.Nutrition {
  @extend %column;
  height: 84vh;
  color: black;
  @include desktop{
    height: auto;
  }

  &__btnTop {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin: 20px;

    @include desktop {
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0px;
      padding: 0 auto;
      align-items: stretch;
    }
  }
&__cards{
    display: flex;
    flex-direction: row;
    max-width: 50vh;
    overflow: scroll;
    list-style-type: none;
    text-align: initial;
    background-size: 93vh;

    @include desktop {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      max-width: 100%;
    }

    @include tablet {
      overflow: scroll;
      display: flex;
      flex-direction: row;
      max-width: 100%;
    }

    &--scroll {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-left: 0; 
      
      
      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0 auto;
        align-items: stretch;
      }

    }
}
  
}