* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Train {
  min-height: 100vh;
}

.Train--title {
  margin-top: 1rem;
  color: black;
}

.Train__btnUl {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
  margin: 0;
}

.Train__btnUl > li {
  padding: 0;
}

.Train__btnUl > li > button {
  color: white;
  font-weight: bold;
  background-color: black;
  border: 2px solid #ddd;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  margin: 5px;
  width: 100px;
}

.Train__cardUl {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  text-align: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Train.css.map */