body {
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  margin: 0 auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.UserView__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.UserView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.custom-button {
  background-color: #7cc5ba;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #7cc5ba;
  color: white;
}

.custom-button2 {
  background-color: black;
  border: 1px solid #e9e7e7;
  border-radius: 0.25rem;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.custom-button2:hover {
  background-color: white;
  color: black;
}

.UserView {
  padding-top: 1px;
}

@media screen and (min-width: 800px) {
  .UserView {
    border: 1px solid;
  }
}

.UserView__topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #DDD;
}

.UserView__train {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  background-size: 33vh;
  overflow: scroll;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .UserView__train {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.UserView__train--Todaytrain {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.UserView__train--Todaytrain > div {
  margin: 0 auto;
  margin: 20px;
  border: 1px solid white;
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  width: 250px;
}

.UserView__train--Todaytrain > div > img {
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  height: 80%;
}

.UserView__train--Todaytrain > div > p {
  text-align: center;
}

.UserView__train--Todaytrain > div > button {
  margin: 3px;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  background-color: black;
}

.UserView__buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.UserView__buttons > button {
  margin: 3px;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  background-color: black;
  outline: none;
}

.UserView__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
  background-size: 33vh;
  overflow: scroll;
  padding: 0;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .UserView__food {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.UserView__food--day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #DDD;
}

.UserView__food--TodayFood {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.UserView__food--TodayFood > div {
  margin: 0 auto;
  margin: 20px;
  border: 1px solid white;
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  width: 250px;
}

.UserView__food--TodayFood > div > img {
  padding: 10px;
  border-radius: 20px;
  width: 90%;
}

.UserView__food--TodayFood > div > p {
  text-align: center;
}

.UserView__food--TodayFood > div > button {
  margin: 3px;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  background-color: black;
}
/*# sourceMappingURL=UserView.css.map */